name: Azure Static Web Apps CI/CD

on:
  push:
    branches:
      - dev

jobs:
  build_and_deploy_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: 'Deploy to Azure Static Web Apps'
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.BB_STATIC_WEB_APPS_API_TOKEN }} # if Azure auto-created it, keep as-is
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          action: "upload"

          # For plain static HTML/CSS/JS:
          app_location: "/" 
          api_location: ""
          app_artifact_location: "."


